$clr__brand: hsl(3, 100%, 74%);
$clr__brand__dark: hsl(3, 100%, 66%);
$clr__brand__light: hsl(0, 100%, 98%);
$clr__border: hsl(0, 0%, 91%);
$clr__border__dark: hsl(0, 0%, 50%);
$clr__green: hsl(81, 100%, 27%);

$media__large: 1080px;
$media__mid__max: 1079px;
$media__mid: 640px;
$media__small__max: 639px;

@mixin large-width() {
  @media all and (min-width: $media__large) {
    @content;
  }
}
@mixin mid-width() {
  @media all and (min-width: $media__mid) and (max-width: $media__mid__max) {
    @content;
  }
}
@mixin small-width() {
  @media all and (max-width: $media__small__max) {
    @content;
  }
}

.pay {
  max-width: 150ch;
  min-width: 72ch;
  margin: 0 auto;
}

.pay__title {
  margin: 2em auto 0.5em;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
}

.pay__card__std {
  height: min-content;

  @include large-width {
    flex: 0.5;
  }

  @include mid-width {
    margin: 0 auto;
    flex: 1;
    max-width: 90%;
    min-width: 90%;
  }

  @include mid-width {
    margin: 0 auto;
    flex: 1;
    max-width: 90%;
    min-width: 90%;
  }
}

.pay__body {
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;

  ///
  /// left card
  .pay__card__left {
    @extend .pay__card__std;
  }

  .card__title__left {
    height: 3rem;
    font-size: 1.5em;
    font-weight: 600;
  }

  .card__plans {
    margin: 0 auto;
    padding: 1.5em 2em;
    border-top: 0.1em solid $clr__border;
    border-bottom: 0.1em solid $clr__border;
    display: flex;
    gap: 3em;

    .card__selected {
      background-color: $clr__brand__light;
      border-color: $clr__brand__dark;
    }
  }

  .card__plan {
    height: 9rem;
    flex: 0.5;
    border: 0.15em solid $clr__border;
    border-radius: 0.2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.17em;
    font-weight: 600;

    &:hover {
      cursor: default;
    }

    .plan__discount {
      font-size: 0.8em;
      font-style: italic;
      color: $clr__green;
    }
  }

  .card__plan__react {
    @extend .card__plan;

    &:hover {
      background-color: $clr__brand__light;
      cursor: pointer;
      transition: ease-in 0.5s;
    }
  }

  .card__checkoutbutt {
    margin: 2em 2em;
    padding: 0.5em 0;
    background-color: $clr__brand;
    color: white;
    font-weight: 600;
    text-align: center;
    transition: ease-in 0.5s;

    &:hover {
      cursor: pointer;
      background-color: $clr__brand__dark;
      transition: ease-in 0.5s;
    }
  }

  .card__postscript {
    padding: 0 2em;
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.3em;
    color: $clr__border__dark;
  }

  ///
  /// right card
  .pay__card__right {
    @extend .pay__card__std;
    border: 0.1em solid $clr__border;
  }

  .card__right__header {
    height: 3rem;
    display: flex;
    align-items: center;
    position: relative;
  }

  .card__title__right {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
  }

  .card__backbutt {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 100%;
    white-space: nowrap;
    transform: translate(-110%, -50%);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .card__right__planSelected {
    margin: 0 auto;
    padding: 0.3em;
    border-top: 0.1rem solid $clr__border;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
  }

  .card__right__loading {
    height: 15rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card__right__body {
    margin: 0 auto;
    padding: 1.5em 2em;
    border-top: 0.1em solid $clr__border;
    border-bottom: 0.1em solid $clr__border;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
  }

  .card__subscription {
    display: flex;
    flex-direction: column;
  }

  .subscription__item {
    padding-top: 0.2em;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    line-height: 2;

    .subscription__item__desc {
      flex: 0.7;
    }

    .subscription__item__content {
      text-align: right;
      flex: 0.3;
    }

    .subscription__item__money {
      font-weight: bold;
    }
  }

  .card__subscription__pre {
    @extend .card__subscription;
    padding-top: 0.5em;
    border-top: 0.1em solid $clr__border;

    .subscription__item__content {
      color: $clr__brand__dark;
    }
  }

  .card__right__footer {
    padding: 1em 1.5em;

    .subscription__total {
      font-size: 1.5em;
      font-weight: 600;
      white-space: nowrap;
    }
  }

  .subscription__item__postscript {
    margin: 0 auto 0.5rem;
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.3em;
    color: $clr__border__dark;
  }

  .card__coupon {
    margin: 0.5em auto 0.2em;

    .coupon__title {
      width: 100%;
      margin: 0 auto;
      padding: 0 2em;
    }

    .coupon__form {
      width: 100%;
      margin: 0 autu;
      padding: 0 2em;
      display: flex;
      gap: 2em;

      .coupon__input {
        flex: 1 1 20em;
        width: 80%;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        * {
          background-color: inherit;
        }

        .ant-input-affix-wrapper:hover,
        .ant-input-affix-wrapper:focus {
          border: 0.1em solid $clr__brand__dark;
        }

        .ant-input-affix-wrapper-focused {
          border: 0.1em solid $clr__border;
          box-shadow: none;
        }
      }

      .coupon__butt {
        flex: 1 1 2em;
        width: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      .coupon__butt__reset {
        @extend .coupon__butt;
        color: $clr__brand__dark !important;
        border: none;
      }

      .coupon__icon {
        vertical-align: middle;
        font-size: 130%;
        transform: rotate(-90deg);
      }
    }

    .coupon__warning {
      width: 100%;
      margin: 0 auto;
      padding: 0 2.5em;
      font-size: 0.8em;
      color: $clr__brand__dark;
    }

    .coupon__warning__hidden {
      @extend .coupon__warning;
      visibility: hidden;
    }
  }
}
