$clr__brand: hsl(3, 100%, 74%);
$clr__brand__dark: hsl(3, 100%, 66%);
$clr__brand__light: hsl(0, 100%, 98%);
$clr__border: hsl(0, 0%, 91%);
$clr__border__dark: hsl(0, 0%, 50%);
$clr__green: hsl(81, 100%, 27%);

$media__large: 1200px;
$media__mid__max: 1199px;
$media__mid: 640px;
$media__small__max: 639px;

@mixin large-width() {
  @media all and (min-width: $media__large) {
    @content;
  }
}
@mixin mid-width() {
  @media all and (min-width: $media__mid) and (max-width: $media__mid__max) {
    @content;
  }
}
@mixin small-width() {
  @media all and (max-width: $media__small__max) {
    @content;
  }
}

.upgrade {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 200ch;
}

.upgrade__title {
  margin: 2em auto 0.5em;
  font-weight: 600;
  text-align: center;
}

.upgrade__desc {
  margin-bottom: 2.5em;
  font-style: italic;
  text-align: center;
}

.upgrade__plans__std {
  margin: 1em auto;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.upgrade__plan__std {
  margin: 1em auto;
  padding: 1.5em;
  outline: 0.2em solid $clr__border;
  outline-offset: -0.2em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include large-width {
    flex: 0.25;
  }

  @include mid-width {
    flex: 1;
    max-width: 48%;
    min-width: 48%;
  }

  @include small-width {
    flex: 1;
    max-width: 50ch;
    min-width: 35ch;
  }
}

.upgrade__plans {
  @extend .upgrade__plans__std;

  .upgrade__plan {
    @extend .upgrade__plan__std;

    .plan__recom {
      position: absolute;
      width: 100%;
      background-color: $clr__brand__dark;
      border: 0.2em solid $clr__brand__dark;
      color: white;
      text-align: center;
      font-size: 1.17rem;
      left: 0;
      top: -1.9em;
    }

    .plan__title {
      text-align: center;
      margin-bottom: 0.6em;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .plan__price {
      width: 100%;
      min-height: 7rem;
      padding: 1em 1em;
      border-top: 0.2em solid $clr__border;
      border-bottom: 0.2em solid $clr__border;
      font-weight: 600;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      transition: 0.5s ease-in-out;

      .plan__price__monthly {
        color: $clr__brand;

        .plan__price__money {
          font-size: 1.5em;
        }
      }

      .plan__price__yearly {
        color: $clr__brand;

        .plan__price__desc {
          color: $clr__green;
        }
      }

      .plan__price__discount {
        display: flex;
      }
    }

    .plan__items {
      padding: 1.5em 1em;
    }
  }

  .upgrade__plan__react {
    @extend .upgrade__plan;

    &:hover {
      background-color: $clr__brand__light;
      outline-color: $clr__brand;
      transition: ease-in-out 0.5s;

      .plan__price {
        border-color: $clr__brand;
        transition: ease-in-out 0.5s;
      }
    }
  }

  .upgrade__butt {
    margin: 0.5em auto;
    padding: 0.5em 3em;
    font-weight: 600;
    border: 0.1em solid $clr__border;

    &:hover {
      cursor: default;
    }
  }

  .upgrade__butt__react {
    @extend .upgrade__butt;

    &:hover {
      color: $clr__brand__dark;
      border-color: $clr__brand__dark;
      cursor: pointer;
    }
  }

  .upgrade__plan__tgt {
    @extend .upgrade__plan;
    background-color: $clr__brand__dark;
    color: white;

    * {
      &::selection {
        background-color: white;
        color: $clr__brand__dark;
      }
    }

    .plan__price__money {
      color: white;
    }

    .plan__price__desc {
      color: white !important;
    }
  }

  .upgrade__butt__tgt {
    @extend .upgrade__butt;

    &:hover {
      cursor: pointer;
    }
  }
}
